configuration {
	modi: "window,drun,combi";
	bw: 0;
	location: 0;
	show-icons: true;
	terminal: "termite";
	icon-theme: "Papirus";
	sidebar-mode: false;
	hide-scrollbar: true;
	fake-transparency: false;
	theme: "~/.config/rofi/dracula.rasi";
}
